!!!
html
  head
    meta(name="viewport", content="width=device-width")
    link(rel="stylesheet", type="text/css", href="css/main.css")
    if environment == "production"
      script(type="text/javascript", src="https://ajax.googleapis.com/ajax/libs/angularjs/1.2.1/angular.min.js")
    else
      script(type="text/javascript", src="js/angular.js")
    script(type="text/javascript", src="js/app.js")
  body(ng-app="ToDoApp")
    section(ng-controller="crud")
      .container
        .row
          .col-sm-6
            ul
              li(ng-repeat="item in items")
                | {{ item.msg }}
                a(href="", ng-click="remove()") x
          .col-sm-6
            ul
              li(ng-repeat="item in items") {{ item.msg }}
    section(ng-controller="crud")
      .container
        .row
          .col-sm-12
            form(ng-submit="add()")
              input(ng-model="item.msg", placeholder="World")
